<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css">
	{% block head %}{% endblock %}
</head>
<body class="bg-gray-200">
	<nav>
		<ul class="flex space-x-2">
			<li>
				<a href="{{ url_for('user.signin') }}">Sign In</a>
			</li>
			<li>
				<a href="{{ url_for('user.logout') }}">Logout</a>
			</li>
			<li>
				<a href="{{ url_for('core.test') }}">Test</a>
			</li>
		</ul>
	</nav>

	{% if current_user.is_authenticated %}
	<h1 class="text-lg font-bold">{{current_user.email}}</h1>
	{% endif %}
	{% block content %}{% endblock %}
</body>
</html>